   <% @posts.each do |post|  %>
        <div class=" border-8 m-8">
            <div class= "flex justify-center bg-slate-200">
                <h2 class= " text-xl flex justify-center font-bold focus:ring-transparent">
                        <%= post.title %>
                    
                </h2>
                  
            </div>
            <h3 class= " m-2 text-sm font font-semibold flex justify-end mr-20  focus:outline-none focus:ring-transparent"> 
                <% if user_signed_in? %>
                    <div> by <%= post.User.username %></div>
                <% else  %>
                    <p> Unknown </p> 
                <% end %>
            </h3>
            <div class= " m-4 text-xs flex justify-center">
                <%= post.body %>
            </div>
        </div>
    <% end %>