   <% @posts.each do |post|  %>
        <div class="m-8">
            <h2 class= " text-xl flex justify-center font-bold focus:ring-transparent">
                    <%= post.title %>
            </h2>
            <h3 class= " m-4 text-sm font font-semibold flex justify-end mr-20  focus:outline-none focus:ring-transparent"> 
                <% if user_signed_in? %>
                    <div><%= post.User.username %></div>
                <% else  %>
                    <p> Unknown </p> 
                <% end %>
            </h3>
            <div class= " text-xs flex justify-center">
                <%= post.body %>
            </div>
        </div>
    <% end %>